* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    padding: 20px 30px;
}

header h1 {
    font-size: 25px;
    color: darkblue;
    margin-left: 0;
    margin-right: auto;
}

nav ul li a {
    text-decoration: none;
    color: darkblue;
    font-weight: 700;
    margin-left: 30px;
}

.box__green {
    margin-top: 100px;

}

.box__green img {
    display: block;
    margin-left: auto;
    width: 50%;
    height: 100%;
}

.container_box__blue {
    margin-top: -150px;
}

main h2 {
    font-size: 65px;
    font-weight: 500;
    line-height: 0.8;
}

.box__blue {
    width: 76%;
    height: 200px;
    background-color: darkblue;
}